<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESEA Stats</title>
</head>
<body>
    <h1>Enter Match ID</h1>
    <form method="post" action="/api/stats">
        <label for="ID">MATCH ID:</label>
        <input type="text" name="ID" id="ID">
    </form>
    <h1>Enter Player ID</h1>
    <form action="/api/player" method="post">
        <label for="playerid">Player ID:</label>
        <input type="text" name="playerid" id="playerid">
    </form>
</body>
</html>